<div class="row">
  <div class="col">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Product Name</mat-label>
      <input matInput #productName>
    </mat-form-field>
  </div>
  <div class="col">
    <mat-form-field appearance="fill">
      <mat-label>Category</mat-label>
      <mat-select #category (selectionChange)="filterSubCategory(category.value)">
        <mat-option *ngFor='let cat of categories' [value]="cat.id" > {{cat.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col">
    <mat-form-field appearance="fill">
      <mat-label>Sub Category</mat-label>
      <mat-select #subCategory>
        <mat-option *ngFor='let subcat of filteredCategories' [value]="subcat.id"> {{subcat.name}} </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
    <div class="col">
      <button mat-stroked-button class="btn btn-outline-primary" color='primary'
        [disabled]="!(category.value && subCategory.value && productName.value)"
        (click)="addProduct(category.value, subCategory.value, productName.value)">
        Add
      </button>
  </div>
</div>
